<form action="/answer" method="get">
	<div class="form-group form-inline">
  	<input type="text" name="question" placeholder="Ask something to the coach ?" class="form-control col-5">
  	<button type="submit" class="btn btn-primary col-2">Valider</button>
	</div>
</form>

